# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Notebooks / marimo
.ipynb_checkpoints/
*.ipynb_checkpoints

# Build / cache
.cache/
dist/
build/

# IDE
.vscode/
.idea/